---
---
.page-header {
  background-color: transparent;
  background-image: url({{ "/assets/images/header_ocean.jpg" | relative_url }});
  background-size: cover;
  background-position: center center;
}

.project-name {
  color: rgba(28, 66, 78, 1);
  text-shadow: 2px 2px 4px #000000;
  padding-left: 130px;
  text-align: left;
}

.btn {
  background-color: rgba(28, 66, 78, 0.9);
  text-align: center;
}

.img-left{
@media all and (min-width: 960px)  {
  width: 60%;
  float: left;
  padding-right: 25px;
}
}

.content-right{
  @media all and (min-width: 960px) {
    text-align: left;
    width: 40%;
    float: right;
  }
}

.viewalpha{
  @media all and (min-width: 960px)  {
    width: 50%;
    float: left;
    padding-right: 25px;
  }
}

.viewtype{
  @media all and (min-width: 960px) {
    text-align: left;
    width: 50%;
    float: right;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 15px;
}


img {
  max-width: 100%;
  height: auto;

}

.page-header {
  position: relative;
}

.page-header:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, rgba(255,255,255,0.4) 0%, rgba(246,246,246,0.4) 35%, rgba(237,237,237,0.4) 100%);
}

.page-header  {
    h1, h2 {
    position: relative;
    z-index: 999;
  }
}

#main-navigation a:hover {
  color: #f9f9f9;
  background-color: #577e8a;
}

.clearfix::after {
  content:"";
  clear: both;
  display: table;
}
